.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

#root,
html,
body {
  margin: 0;
  width: 100%;
}

button.submit {
  background-color: rgb(150, 201, 150);
  padding: 3px;
  border: solid black;
  height: 50%;
  margin-top: 40px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
