.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

#root,
html,
body {
  margin: 0;
  width: 100%;
}

button.submit {
  background-color: rgb(34 197 94);
  padding: 3px;
  border: solid black;
  height: 50%;
  margin-top: 40px;
}

nav {
  background-color: grey;
  display: flex;
  gap: 20px;
}

div {
  background-color: rgb(131, 223, 131);
}


@tailwind base;
@tailwind components;
@tailwind utilities;
